#body_bg {
    /*background-color: #9F81F7;*/
    background-image: url("https://www.google.co.in/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiEqPv0_9DdAhUBtI8KHYGfC0oQjRx6BAgBEAU&url=http%3A%2F%2Fwww.hdcarwallpapers.com%2F2016_w_motors_fenyr_supersport-wallpapers.html&psig=AOvVaw3qoIxpDeUQwau3yKu92kR6&ust=1537787727179732");
    background-blend-mode: lighten;
    background-attachment: scroll;
}

#login-form {
    background: #A9D0F5;
    border: 3 px solid #eeeee;
    padding: 9px 9px;
    width: 300px;
    border-radius: 5px;
}
